.container {
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.thirdparty{
  display: flex;
  margin-top: 10px;
  margin-bottom: 14px;

}

.container span{
  /* margin-top: 50px; */
  /* margin-bottom: 20px; */
  color: white;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: var(--bg);
  height: 20px;
}

.comprehensive{
  display:flex ;
  margin-top: 14px;
  margin-bottom: 14px;
}

.notIntrested{
  display: flex;
  margin-top: 14px;
  margin-bottom: 14px;
}

.tile {
  width: 170px; /* Set a fixed width for square tiles */
  height: 150px; /* Set a fixed height for square tiles */
  padding: 20px;
  margin-right: auto;
  margin-bottom: 14px;
  margin-top: 14px;
  background-color: var(--bg);
  color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
  /* display: flex; */
  
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tile:hover {
  background-color: var(--bgSoft);
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.7s;
}

.tile a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .tile {
    width: calc(50% - 20px);
    height: 200px;
  }
}
