.footer {
  width: 70%;
  background-color: transparent; 
  color: #333; 
  text-align: center;
  padding: 2px 0px; 
  position:relative; 
  left: 190px;
  
  bottom: 0;
  
  font-weight: 800;
  font-size:15px ;
  
}


@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px; 
  }
}
